<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>이벤트 리스너로 장바구니 수량 변경 및 자동 합계 구하기</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/custom.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./js/custom.js"></script>  
</head>


    <body> 
        <!-- 헤더 -->
        <%- include('./templates/header.ejs') %>


        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>이름</th>
                    <th>선택</th>
                    <th>ml</th>
                    <th>개수</th>
                    <th>총 가격</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>컵사이즈</td>
                    <td><select>
                        <!-- 컵사이즈 옵션들 -->
                        <option class="cup1" value="300">작은컵 355ml</option>
                        <option class="cup2"value="400">중간컵 473ml</option>
                        <option class="cup3" value="500">큰컵  591ml</option>
                    </select>
                </td>
                    <td></td>
                    <td></td>
                    <td><div class="sum1">40,000원</div></td>
                </tr>

                <tr>
                    <td></td>
                    <td>베이스</td>
                    <td><select>
                        <!-- 베이스선택 옵션들 -->
                        <option class="base1" value="1000">물_100ml</option>
                        <option class="base2" value="1200">우유_100ml</option>
                        <option class="base3" value="1300">초코우유_100ml</option>
                        <option vclass="base4" alue="1400">딸기우유_100ml</option>
                    </select>
                </td>
                    <td>0원</td>
                    <td>
                        <div class="count-wrap _count">
                            <input type="number" id="quantity_order" name="quantity_order" value="1" min="1">
                        </div>
                    </td>
                    <td><div class="sum2">40,000원</div></td>
                </tr>
                

                <tr>
                    <td><button class="delete-btn" onclick="deleteRow(this)">삭제</button></td>
                    <td>재료</td>
                    <td><select>
                            <!-- 재료들 선택 -->
                            <option value="5">오레오 쿠키</option>
                            <option value="5">자바칩</option>
                            <option value="5">딸기칩</option>
                            <option value="10">샷</option>
                        </select>
                    </td>
                    <td>0원</td>
                    <td>
                        <div class="count-wrap _count">
                            <input type="number" id="quantity_order" name="quantity_order" value="1" min="1">
                        </div>
                    </td>
                    <td>0원</td>
                </tr>
            </tbody>
        </table>
        
        <button id="addRowBtn" onclick="addRow()">추가하기</button>
        
        <div style="margin-left: 150px;">
        <div style="margin-top: 50px;">
        
            <div style="float: left; width: 50%; padding-left: 40px;">
                <h2>해시태그</h2>
                <div style="float: left; padding: 4px; ">
                    <input vlaue="hashtag1" placeholder="해시태그를 입력하세요">
                </div>
                <div style="float: left; padding: 4px; ">
                    <input vlaue="hashtag2" placeholder="해시태그를 입력하세요">
                </div>
                <div style="float: left; padding: 4px; ">
                    <input vlaue="hashtag3" placeholder="해시태그를 입력하세요">
                </div>

            </div>
        
            <!-- <div style="float: left; width: 50%;  ">
                <h2>주문 내역</h2>
                <p>베이스: <span id="ingredientCount">0</span></p>
                <p>재료: <span id="ingredientCount">0</span></p>
                <p>총 가격: <span id="totalPrice">0</span></p>
                <button class="c-btn" onclick="checkout()">결제하기</button>
            </div> -->
        
        </div>
        
        <div style="clear: both; margin-top: 20px;">
        
            <div style="float: left; width: 50%; padding-left: 40px;">
                <h2>소개글</h2>
                <textarea rows="20" cols="50" placeholder="소개글을 입력하세요"></textarea>
            </div>
        
            <div style="float: left; width: 50%; padding-top: 80px;">
                <h2>등록</h2>
                <!-- <div style="padding-top: 30px;">
                    <input type="number" id="pointInput" value="200" min="0">
                </div> -->
                <div style="padding-top: 20px;">
                    <input type="checkbox" id="couponCheckbox"> 무료 쿠폰 사용
                </div>
                <br>
                <div style="padding-top: 30px;">
                    <button class="re-btn"  onclick="register()">등록하기</button>
                </div>
                
            </div>
        
        </div>
    </div>
        
        </body>
        </html>
        

        <%-include('./templates/footer.ejs')%>
        </html>