<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('./templates/comheader.ejs') %>
    <section>
        <h1>신고 내역</h1>
        <% for (let i = 0; i < 8; i++) { %>
            <div class="review">
                <div class="title"></div>
                <div class="content"></div>
                <div class="date"></div>
            </div>
        <% } %>
    </section>
</body>
<%-include('./templates/footer.ejs')%>
</html>