<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech2etc Ecommerce Tutorial</title>
        <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" /> -->
        <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="../css/liker.css">
        <script src="https://kit.fontawesome.com/c633279bec.js" crossorigin="anonymous">
    </script>
    </head>

    <body> 
        <!-- 헤더 -->
        <%- include('./templates/header.ejs') %>

    <div class="v45_3">
        <!-- 제목 -->
        <span class="v45_37">좋아요</span>

        <!-- 리스트 범위 -->
        <div class="v45_53">
            <div class="v45_28">
                <div class="v45_29"></div>
                <!-- 회원 이름칸 -->
                <span class="v45_30">a 님</span>
            </div>
            <div class="v45_38"></div>

            <!-- Unfollow button -->
            <button class="v45_40">팔로우</button>

            <!-- 등급 칸 -->
            <div class="v45_50">
                <div class="v45_51"></div>
                <!-- 등급 이름 -->
                <span class="v45_52">실버</span>
            </div>
        </div>
        <!-- 리스트 범위 -->
    </div>
</body>


<%-include('./templates/footer.ejs')%>
</html>
