<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>이벤트 리스너로 장바구니 수량 변경 및 자동 합계 구하기</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/custom.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script type="text/javascript" src="./js/custom.js"></script>  
</head>


    <body> 
            <!-- 헤더 -->
            <%- include('./templates/header.ejs') %>


            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>이름</th>
                        <th>선택</th>
                        <th>가격</th>
                        <th>개수</th>
                        <th>총 가격</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>컵사이즈</td>
                        <td><select id="cupsize">
                            <!-- 컵사이즈 옵션들 -->
                            <option value="size1">작은컵</option>
                            <option value="size2">중간컵</option>
                            <option value="size3">큰컵</option>
                        </select>
                    </td>
                        <td>0원</td>
                        <td></td>
                        <td>0원</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>베이스</td>
                        <td><select id="base">
                            <!-- 베이스선택 옵션들 -->
                            <% for (i=0; i< value1.length; i++) { %>
                            <option value="<%= value1[i].name %>"><%=value1[i].name %></option>
                            <% } %>
                        </select>
                    </td>
                        <td></td>
                        <td>
                            <button class="quantity-btn" onclick="adjustQuantity(this, 'increment')">+</button>
                            <input type="text" value="1" readonly>
                            <button class="quantity-btn" onclick="adjustQuantity(this, 'decrement')">-</button>
                        </td>
                        <td>0원</td>
                    </tr>
                    

                    <tr>
                        <td><button class="delete-btn" onclick="deleteRow(this)">삭제</button></td>
                        <td>재료</td>
                        <td><select id="ingredient">
                                <!-- 재료들 선택 -->
                                <% for (i=0; i< value2.length; i++) { %>
                                    <option value="<%= value2[i].name %>"><%=value2[i].name %></option>
                                    <% } %>
                            </select>
                        </td>
                        <td>0원</td>
                        <td>
                            <button class="quantity-btn" onclick="adjustQuantity(this, 'increment')">+</button>
                            <input type="text" value="1" readonly>
                            <button class="quantity-btn" onclick="adjustQuantity(this, 'decrement')">-</button>
                        </td>
                        <td>0원</td>
                    </tr>
                </tbody>
            </table>
            
            <button id="addRowBtn" onclick="addRow()">추가하기</button>
            
            <div style="margin-left: 150px;">
            <div style="margin-top: 50px;">
            
                <div style="float: left; width: 50%; padding-left: 40px;">
                    <h2>해시태그</h2>
                    <div style="float: left; padding: 4px; ">
                        <input vlaue="hashtag1" placeholder="해시태그를 입력하세요">
                    </div>
                    <div style="float: left; padding: 4px; ">
                        <input vlaue="hashtag2" placeholder="해시태그를 입력하세요">
                    </div>
                    <div style="float: left; padding: 4px; ">
                        <input vlaue="hashtag3" placeholder="해시태그를 입력하세요">
                    </div>

                </div>
            
                <!-- <div style="float: left; width: 50%;  ">
                    <h2>주문 내역</h2>
                    <p>베이스: <span id="ingredientCount">0</span></p>
                    <p>재료: <span id="ingredientCount">0</span></p>
                    <p>총 가격: <span id="totalPrice">0</span></p>
                    <button type="submit" class="c-btn" onclick="checkout()">결제하기</button>
                </div> -->
            
            </div>
            
            <div style="clear: both; margin-top: 20px;">
            
                <div style="float: left; width: 50%; padding-left: 40px;">
                    <h2>소개글</h2>
                    <textarea rows="20" cols="50" placeholder="소개글을 입력하세요"></textarea>
                </div>
            
                <div style="float: left; width: 50%; padding-top: 80px;">
                    <h2>등록 포인트</h2>
                    <div style="padding-top: 30px;">
                        <input type="number" id="pointInput" value="200" min="0">
                    </div>
                    <div style="padding-top: 20px;">
                        <input type="checkbox" id="couponCheckbox"> 무료 쿠폰 사용
                    </div>
                    <br>
                    <div style="padding-top: 30px;">
                        <form action="/custom/makedrink" method="post">  
                            <input type="hidden" id="cupSizeInput" name="cupSize">
                            <input type="hidden" id="baseInput" name="base">
                            <input type="hidden" id="ingredientInput" name="ingredient">
                            <button type="submit" value="enroll"  class="re-btn"  onclick="register()">등록하기</button>
                    </div>
                </div>
            </div>
    </body>
        </html>
        

        <%-include('./templates/footer.ejs')%>
        </html>