<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./templates/comheader.ejs') %>
    <div class="myinfo">
        <div class="row1">

        </div>
        <div class="row2">
            
        </div>
        
    </div>
    <div class="erollDrink">
        <h3>내가 등록한 음료</h3>
        <div class="drinkManage">등록한 음료 관리</div>
        <div class="monthDrinkCount">이달의 음료 선정 횟수 : </div>
    </div>
    <div class="point">
        <h3>포인트</h3>
        <div class="myPoint">나의 포인트 :</div>
        <div class="pointUseHistory">포인트 사용내역</div>
        <div class="earnPoint">포인트 적립내역</div>
    </div>
    <div class="wraper"></div>
    <div class="review">
        <h3>리뷰</h3>
        <div class="writtenReview">작성한 리뷰</div>
    </div>
    <div class="complain">
        <h3>신고</h3>
        <div class="writtenComplain">신고내역</div>
    </div>
</body>
<%-include('./templates/footer.ejs')%>
</html>