* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v42_42 {
  width: 100%;
  height: 1000px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_77 {
  width: 80px;
  height: 14px;
  background: url("../img/v42_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 718px;
  left: 1257px;
  overflow: hidden;
}
.v42_78 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_66 {
  width: 100%;
  height: 494px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 506px;
  left: 0px;
  overflow: hidden;
}
.v42_67 {
  width: 100%;
  height: 494px;
  background: url("../img/v42_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 506px;
  left: 2px;
  overflow: hidden;
}
.v42_69 {
  width: 305px;
  height: 165px;
  background: url("../img/v42_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 661px;
  left: 210px;
  overflow: hidden;
}
.v42_70 {
  width: 305px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 70px;
  left: 0px;
  font-family: Quicksand;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v42_71 {
  width: 145px;
  color: rgba(199,161,122,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Quicksand;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v42_72 {
  width: 239px;
  height: 167px;
  background: url("../img/v42_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 661px;
  left: 633px;
  overflow: hidden;
}
.v42_73 {
  width: 239px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 67px;
  left: 0px;
  font-family: Quicksand;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v42_74 {
  width: 218px;
  color: rgba(199,161,122,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Quicksand;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v42_75 {
  width: 100%;
  height: 88px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  position: absolute;
  top: 912px;
  left: 0px;
  overflow: hidden;
}
.v42_76 {
  width: 430px;
  color: rgba(199,161,122,1);
  position: absolute;
  top: 956px;
  left: 594px;
  font-family: Quicksand;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
