<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
  <link href="/css/footer.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="v33_5">
    <div class="v33_7">
      <div class="v33_8"></div>
      <div class="v33_9"></div>
      <!-- <div class="v33_10"></div> -->
      <div class="v33_11">
        <span class="v33_12">
          329 Queensberry Street, North Melbourne
          VIC 3051, Australia.
          123 456 7890
          support@despina.com
        </span>
        <span class="v33_13">Contact</span>
      </div>
      <div class="v33_14">
        <span class="v33_15">
          Monday - Friday: ........6am - 9pm 
          Saturday: ........6am - 10pm 
          Sunday: ........Closed
          *Close on special days
        </span>
        <span class="v33_16">Opening Hour</span>
      </div>
      <div class="v33_17"></div>
      <span class="v33_18">Copyright © 2017 Hire WordPress Developer. All rights reserved.</span>
    </div>
    <div class="v33_19">
      <span class="v33_28">CART</span>
    </div>
    <span class="v33_29">커피전문점(동서대)</span>
  </div>
</body>
</html>
