<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
  <link href="/css/footer.css" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <div class="v42_42">
    <div class="v42_77">
      <span class="v42_78">결제하기</span>
    </div>
    <div class="v42_66"></div>
    <div class="v42_67"></div>
    <div class="v42_69">
      <span class="v42_70">
        329 Queensberry Street, North Melbourne
        VIC 3051, Australia.
        123 456 7890
        support@despina.com
      </span>
      <span class="v42_71">Contact</span>
    </div>
    <div class="v42_72">
      <span class="v42_73">
        Monday - Friday: ........6am - 9pm 
        Saturday: ........6am - 10pm 
        Sunday: ........Closed
        *Close on special days
      </span>
      <span class="v42_74">Opening Hour</span>
    </div>
    <div class="v42_75"></div>
    <span class="v42_76">Copyright © 2017 Hire WordPress Developer. All rights reserved.</span>
  </div>
</body>

</html>
