<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech2etc Ecommerce Tutorial</title>
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" /> -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/c633279bec.js" crossorigin="anonymous">
</script>
</head>

<section id="header">
    <a href="/"><img src="../img/logo.png" class="logo"></a>

    <div>
        <ul id="navbar">
            <li><a href="/">home</a></li>
            <li><a href="menu">menu</a></li>
            <li><a href="community">blog</a></li>
            <li><a href="custom">custom</a></li>
            <li><a href="cart"><i class="fas fa-cart-shopping"></i></a></li>

            <% if (session.uid) { %>
                <li><a href="logout"><button class="loginBtn normal">로그아웃</button></a></li>
            <% } else { %>
                <li><a href="login"><button class="loginBtn normal">로그인</button></a></li>
            <% } %>
        </ul>
    </div>
</section>
